@page "/LoseScreen"
<div class="heading3">
    <span>Y</span>
    <span>O</span>
    <span>U</span>
    <span></span>
    <span>L</span>
    <span>O</span>
    <span>S</span>
    <span>E</span>
    <span>.</span>
    <span>.</span>
    <span>.</span>
</div>

@code {}